{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Bank Directory</h1>
        <p>Find and compare loans from various banks in Azerbaijan.</p>

        <table>
            <thead>
                <tr>
                    <th>Bank Name</th>
                    <th>Logo</th>
                    <th>Loan Products</th>
                    <th>More Info</th>
                </tr>
            </thead>
            <tbody>
                {% for bank in banks %}
                <tr>
                    <td>{{ bank.name }}</td>
                    <td><img src="{{ bank.logo.url }}" alt="{{ bank.name }} Logo" width="100"></td>
                    <td>
                        <ul>
                            {% for product in bank.loan_products %}
                            <li>{{ product.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td><a href="{% url 'bank_detail' bank.id %}">View Details</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}