{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="hero">
            <div class="hero-content">
                <h2>BankTap-a xoş gəlmisiniz!</h2>
                <p>
                    Biz sizə Azərbaycanın bank və kredit dünyasında yol göstərməkdə kömək etməyə sadiqik.
                    Platformamız kredit məhsullarını müqayisə etmək, müxtəlif banklar haqqında məlumat əldə etmək
                    və maliyyə gələcəyinizlə bağlı məlumatlı qərarlar qəbul etmək üçün hərtərəfli həll təklif edir.
                    Şəxsi kredit, biznes krediti axtarırsınızsa və ya sadəcə seçimlərinizi daha yaxşı başa düşmək
                    istəyirsinizsə, hər addımda sizə bələdçilik etmək üçün buradayıq.
                </p>
                <a href="/loans/" class="btn">Kreditləri Araşdırın</a>
            </div>
        </div>
    </div>
{% endblock %}




